body {
    font-family: 'Caprasimo', cursive;
}

.banner-bg {
    background: rgb(206,24,24);
    background: linear-gradient(347deg, rgba(206,24,24,1) 6%, rgba(24,187,206,1) 43%, rgba(236,173,12,1) 100%);
}

.clear-history {
    background: rgba(255, 0, 0, 0.3);
}

.weather-icon {
    width: 50px;
    height: 50px;
  }